<!-- 
 <h1>Home Page</h1>
 <a *ngIf='!loggedUser' [routerLink]="['/login']">login</a><br>
 
 <p *ngIf='loggedUser' >Logged in as: {{loggedUser}}</p><br>

 <a *ngIf='loggedUser' href (click)="logOut()">logout</a>
 -->


<div class="wrapper">
    <div class="title-bar">

        <div class="login-reg">

            <img src="/assets/img/logo.png" width="350px">
            <br><br>
            <div class="navigation">
                <button type="button" class="btn btn-secondary" [routerLink]="['/login']">Login</button>
                <br>
                <br>
                <button type="button" class="btn btn-secondary" [routerLink]="['/register']">Register</button>

                <br>
                <br>

            </div>
        </div>
    </div>




</div>