 /* TITLE AND NAVIGATION */

 .title-bar {
    text-align: center;
}

.wrapper {
    width: 98%;
}

/* TABLE */

.login-reg {
    width: 450px;
    height: 300px;
    background-color: #cad7e270;
    padding: 15px;
    border-radius: 15px;
    vertical-align: top;
    text-align: center;
    margin: 0px auto;
}

button{
    margin-right: 5px;
}