.title-bar{
    text-align: center;
}

.wrapper{
    width: 98%;
}

/* TABLE */

.table{
    width: 80%;
    height: 300px;
    background-color: #cad7e2d0;;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
    margin: 10px;
}


.score{
    width: 15%;
    height: 300px;
    background-color: #cad7e270;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    display: none;
}

.chat-container{
    width: 14%;
    height: 300px;
    background-color: #cad7e270;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
}

.chat-inner{
    height: 200px;
    overflow-y: scroll;
}

.opponent-hand{
    background-color: #a3aeb770;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}

.opponent-hand .domino{
    border-radius: 3px;
    margin-right: 3px;
}

.opponent-hand .domino:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.my-hand{
    background-color: #a3aeb770;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
}

.my-hand .domino{
    margin-right: 5px;
}

.my-hand .domino:hover{
    -webkit-box-shadow: 0px 0px 3px 3px rgba(118,209,52,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(118,209,52,1);
    box-shadow: 0px 0px 3px 3px rgba(118,209,52,1);
    cursor: pointer;
    margin-top: -15px;
}

/* BONE CONTAINERS */

.domino{
    padding: 0px 3px;
    background-color: #5A6268;
    border-radius: 10px;
    display: inline-block;
}

.vertical i:first-child{
    display: block;
    margin-bottom: -1px;
}

.horizontal i:first-child{
    margin-right: 5px;
}

.table .domino{
    margin-top: 10%;
}

/* DICE/NUMBER DISPLAY */

.fas{
    color: #fff;
    margin: 0px;
}

.fa-dice-one{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #b42c2c 17%, #b42c2c 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#b42c2c 17%,#b42c2c 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#b42c2c 17%,#b42c2c 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

.fa-dice-two{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #da882b 17%, #da882b 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#da882b 17%,#da882b 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#da882b 17%,#da882b 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

.fa-dice-three{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #ffd000 17%, #ffd000 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#ffd000 17%,#ffd000 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#ffd000 17%,#ffd000 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

.fa-dice-four{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #60b90b 17%, #60b90b 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#60b90b 17%,#60b90b 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#60b90b 17%,#60b90b 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

.fa-dice-five{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #207cca 17%, #207cca 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#207cca 17%,#207cca 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#207cca 17%,#207cca 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

.fa-dice-six{
    border-radius: 15px;
    background: #5A6268;
    background: -moz-linear-gradient(top,  #5A6268 15%, #a820ca 17%, #a820ca 83%, #5A6268 85%);
    background: -webkit-linear-gradient(top,  #5A6268 15%,#a820ca 17%,#a820ca 83%,#5A6268 85%);
    background: linear-gradient(to bottom,  #5A6268 15%,#a820ca 17%,#a820ca 83%,#5A6268 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5A6268', endColorstr='#5A6268',GradientType=0 );

}

button{
    margin-right: 5px;
}